<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=.\SQLEXPRESS01;Database=MyExperiment;Trusted_Connection=True;"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>